<h3>Authors & Contributions</h3>


<p><b>Lorena E. Rosaleny</b>, <a href="https://www.icmol.es" target="_blank">ICMol</a> (Universitat de València), Spain <a href="mailto:rosaleny@uv.es">[rosaleny@uv.es]</a> <br> 
Conceived and programmed the dashboard-style interactive web application for data visualisation and analysis, double-checked the raw data, cleaned and organized the raw data into a tidy dataset, conceived and supervised the statistical analytical exploration, and also employed software to extract structural data.</p>


<p><b>Yan Duan</b>, <a href="https://www2.scut.edu.cn/gzic/2021/1013/c30301a447100/page.htm" target="_blank">Spin-X Institute</a> South China University of Technology, P. R. China  <a href="mailto:yanduan@uv.es">[yanduan@uv.es]</a> <br>
Designed the whole procedure for raw data extraction and classification, did the manual data mining, double-checked the raw data.</p>


<p><b>Joana T. Coutinho</b>,  <a href="https://cdrsp.ipleiria.pt/" target="_blank">CDRSP—Centre for Rapid and Sustainable Product Development</a> (Polytechnic Institute of Leiria), Portugal <a href="mailto:joana.t.coutinho@ipleiria.pt">[joana.t.coutinho@ipleiria.pt]</a> <br> 
Designed the whole procedure for raw data extraction and classification, did the manual data-mining, double-checked the raw data.</p>


<p><b>Alejandro Gaita-Ariño</b>, <a href="https://www.icmol.es" target="_blank">ICMol</a> (Universitat de València), Spain  <a href="mailto:gaita@uv.es">[gaita@uv.es]</a> <br> 
Proposed the SIMs study, did manual data-mining, double-checked the raw data, cleaned and organized the raw data into a tidy datase, and finally conceived and supervised the statistical data analysis.</p>


<p><b>Salvador Cardona-Serra</b>, <a href="https://www.icmol.es" target="_blank">ICMol</a> (Universitat de València), Spain  <a href="mailto:salvador.cardona@uv.es">[salvador.cardona@uv.es]</a> <br> 
Proposed the SIMs study, did manual data mining and double-checked  raw data.</p>


<p><b>Silvia Giménez-Santamarina</b>, <a href="https://www.icmol.es" target="_blank">ICMol</a> (Universitat de València), Spain  <a href="mailto:silvia.m.gimenez@uv.es">[silvia.m.gimenez@uv.es]</a> <br> 
Did manual data mining, double-checked raw data and implemented & employed software to extract structural data.</p> 


<p><b>Allen Scheie</b>, <a href="https://neutrons.ornl.gov/nsd" target="_blank">Neutron Scattering Division</a> Oak Ridge National Laboratory, USA  <a href="mailto:scheieao@ornl.gov">[scheieao@ornl.gov]</a> <br> 
Implemented & employed software to extract structural data.</p>


<p><b>José J. Baldoví</b>, <a href="https://www.icmol.es" target="_blank">ICMol</a> (Universitat de València), Spain  <a href="mailto:j.jaime.baldovi@uv.es">[j.jaime.baldovi@uv.es]</a> <br>
Proposed the SIMs study, did manual data mining.</p> 


<br><br
<p><h3>Acknowledgmements</h3>

This work has been supported by the COST Action MolSpin on Molecular Spintronics (Project 15128), H2020 (FATMOLS project) and QUANTERA (SUMO project), the European Research Council (ERC) under the European Union's Horizon 2020 research and innovation programme (grant agreement No 647301 for CoG “DECRESIM”, No 78822 for AdG “MOL2D”), the Spanish MINECO (grants MAT2017-89993-R, CTQ2017-89528-P, PID2020-117264GB-I00 and PID2020-117177GB-I00 cofinanced by FEDER and Excellence Unit María de Maeztu MDM-2015-0538 and CEX2019-000919-M), the Fundação para a Ciência e a Tecnologia (projects UIDB/04044/2020 and UIDP/04044/2020), and the Generalitat Valenciana (Prometeo Program of Excellence/2019/066, CDEIGENT/2019/022 and CIDEGENT/2021/018). This research used resources at the Spallation Neutron Source, a DOE Office of Science User Facility operated by the Oak Ridge National Laboratory.  
The statistical analysis was performed by Raquel Gavidia Josa with the Statistical Section of the S.C.S.I.E. (Universitat de València). Pablo García Muñoz contributed to the SIMDAVIS app code.</p>


<br>


