<h3>Changelog</h3>

<p><b>Update (February 18th, 2025) to version 1.2.1</b><br>   
Fix some incorrect assignments (Other Families to P=O).<br>  

<p><b>Update (June 12th, 2024) to version 1.2.0</b><br>   
Used new simdavis dataset with two new families (Crown Ether & P=O), and reassignments in the Mixed Ligands and Other Families.<br>  

<p><b>Update (December 13th, 2022) to version 1.1.10</b><br>
Added link to published Nature Communications paper:<br> 
Duan, Y., Rosaleny, L.E., Coutinho, J.T. <i>et al</i>.
Data-driven design of molecular nanomagnets. <i>Nat Commun</i> <b>13</b>, 7626  (2022). 
<a href="https://www.nature.com/articles/s41467-022-35336-9" target="_blank">https://www.nature.com/articles/s41467-022-35336-9</a></p>  

<p><b>Update (July 22nd, 2022) to version 1.1.9</b><br>
Released SIMDAVIS version 1.1.9.</p>  

<p><b>Update (July 14th, 2022) to version 1.1.8.9006</b><br>
Fixed one sample data, display closest_polyhedron with 45º in boxplots, reordered levels of closest_polyhedron and removed minor grid marks for axes (log10).</p>  

<p><b>Update (July 5th, 2022) to version 1.1.8.9005</b><br>
Workaround for bug in annotation_logticks, removed discrete variable pyCF_coordination_number from plots, changed C_Raman and n_Raman to C and n, removed data from pyCrystalField, updated variables_verbose.txt.</p>  

<p><b>Update (July 1st, 2022) to version 1.1.8.9004</b><br>
Fixed some data in dataset, added CCDC_COD_ID, link_to_CIF and CIF_type variables, added pyCrystalField and SHAPE calculations and calculated slope_CSM and axial_distorsion.</p>  

<p><b>Update (February 14th, 2022) to version 1.1.8.9003</b><br>
Added new variables available for plots (C_Raman, n_Raman, tau_qtm) and updated About SIMDAVIS \> Variables tab with the newest additions.</p>

<p><b>Update (February 2nd, 2022) to version 1.1.8.9002</b><br>
Added new data calculated via pyCrystalField and SHAPE, new variables available for plots (closest_polyhedron, main_MJ, main_MJ_module), partial revision of CIF assignments to samples and link to CIFs. Added relaxation data (C_Raman, n_Raman, tau_qtm).</p> 

<p><b>Update (August 03, 2021) to version 1.1.8.9001</b><br> 
Added filters to columns in View Data tab and added data calculated via pyCrystalField and SHAPE.</p> 

<p><b>Update (July 26, 2021) to version 1.1.8</b><br> 
Added meta tags to make SIMDAVIS App searchable.</p> 

<p><b>Update (July 12, 2021) to version 1.1.7</b><br> 
Added record T_hyst samples from 2018, year also as numerical variable, descriptions of plots with number of annotated samples, download buttons for the data feeding each plot, only present categories are shown in z checkbox, and updated Acknowledgements.</p> 

<p><b>Update (May 3, 2021) to version 1.1.6</b><br>  
Fixed some chemical family assignments.</p>  

<p><b>Update (April 19, 2021) to version 1.1.5</b><br>  
Fixed some X''_max data, updated README, and made the bitbucket repository public.</p>

<p><b>Update (April 16, 2021) to version 1.1.4</b><br>
Fixed some Hyst data, added AGPL-3.0 license tab and updated README.md</p>

<p><b>Update (April 13, 2021) to version 1.1.3</b><br>
Added new clustering with more categories for download, assigned "Unassigned" to NA in mag_struct_cluster, removed unused levels in coord. number and number of ligands, created different dataset for download with raw URLs, added descriptions for the clustering variables in the Variables tab, and fixed some errors.</p>

<p><b>Update (March 29, 2021) to version 1.1.2</b><br>
Added the updated molecular and magnetostructural clustering data, and renamed chemical families.</p>

<p><b>Update (March 26, 2021) to version 1.1.1</b><br>
A new home tab and new subtabs in "About SIMDAVIS" tab (Authors, Feedback&Bugs, Changelog) added.</p>

<p><b>Update (March 22, 2021) to version 1.1</b><br>
Added CIF links and missing magnetic data from 2016, fixed errors in T_B3/T_B3H values when field was present, and some other minor corrections.</p> 

<p><b>Update (March 18, 2021) to version 1.0.3</b><br> 
DOI opens in new window, removed values H = 0, and some corrections.</p> 

<p><b>Update (March 16, 2021) to version 1.0.2</b><br> 
Histogram to bar chart, variable names and factors changed.</p>

<p><b>Update (March 11, 2021) to version 1.0.1</b><br>  
Fixed some compound names, the chemical families of some samples were reassigned, preselected variables in data tab changed and a tab about the SIMDAVIS app is added.</p>

<p><b>Update (March 8, 2021) to version 1.0</b><br>
Fixed one doi error and family categories.<br><br>Update (December 3, 2019) to version 0.9</p>

<p>Update (July 26, 2019) to version 0.8</p>

<p>Update (July 8, 2019) to version 0.7</p>

<p>Update (July 2, 2019) to version 0.6</p>

<p>Update (June 26, 2019) to version 0.5</p>

<p>Update (June 21, 2019) to version 0.4</p>

<p>Update (June 14, 2019) to version 0.3</p>

<p>Update (June 6, 2019) to version 0.2</p>

<p>Update (May 31, 2019) to version 0.1</p>

<br><br>
