<h3>SIMDAVIS App</h3>

<b>SIMDAVIS Version 1.2.1</b><br>
<em>Last Updated February 18th, 2025</em>
<hr>

<p>SIMDAVIS (for <u>S</u>ingle <u>I</u>on <u>M</u>agnet <u>DA</u>ta <u>VIS</u>ualisation) is a dashboard-style web application, designed to fulfill a double objective. First, it is a dataset of Lanthanide-based Single Ion Magnets, which as of December 2022 contains 1411 samples from 448 articles published between 2003 and 2019. The dataset can be downloaded via the <font color="#a95aa1"><b>Data Tab</b></font> > Download Data. SIMDAVIS is also a visualisation tool, allowing the production of scatter plots, box plots and bar charts, which then can be downloaded as vectorial PDF files. You can also download the represented subset of the data as a tsv file.</p>

<p>In the <font color="#f5793a"><b>ScatterPlots tab</b></font> the user can represent 15 quantitative physical properties versus one another; the chemical category (plus publication year) of every data point is identified by a color. For each of the 12 qualitative categorization possibilities, each category may be shown or hidden; checking a box adds a linear regression for each category. Click on any data point in the plot to show its sample ID, compound and DOI hyperlink in the table below the plot.</p>

<p>The <font color="#0f2080"><b>BoxPlots tab</b></font> allows to examine the distribution of each SIMs quantitative property vs a categorization criterion. The <font color="85c0f9"><b>BarCharts tab</b></font> explores the frequency of different qualitative variables in our dataset. The <font color="#a95aa1"><b>Data tab</b></font> to browse the dataset allows choosing the data columns to show, ordering in ascending or descending order, and filtering by arbitrary keywords.</p>

<p>SIMDAVIS was specifically developed to accompany a publication, and we kindly request its citation if you use it: Duan, Y., Rosaleny, L.E., Coutinho, J.T. <i>et al</i>. Data-driven design of molecular nanomagnets. <i>Nat Commun</i> <b>13</b>, 7626  (2022). <a href='https://www.nature.com/articles/s41467-022-35336-9' target='_blank'>https://www.nature.com/articles/s41467-022-35336-9</a></p>


